<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>


	<body>

        <%- include('./partials/nav.ejs')%>

		<div class="blogs content">
			<h2>About Us</h2>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
				asperiores aperiam, perferendis voluptatem praesentium id perspiciatis
				dolorem quis deleniti eos quos veniam eligendi quisquam, autem, vitae
				neque nisi. Qui, iste!
			</p>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
				asperiores aperiam, perferendis voluptatem praesentium id perspiciatis
				dolorem quis deleniti eos quos veniam eligendi quisquam, autem, vitae
				neque nisi. Qui, iste!
			</p>
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
				asperiores aperiam, perferendis voluptatem praesentium id perspiciatis
				dolorem quis deleniti eos quos veniam eligendi quisquam, autem, vitae
				neque nisi. Qui, iste!
			</p>
		</div>
	</body>
</html>
